<nav class="navbar navbar-expand-sm navbar-light bg-green-apple">
  <a class="navbar-brand" [routerLink]="[ '' ]">
    <img src="https://via.placeholder.com/150?text=Logo" width="50" height="50" alt="Yvanne Coach Bien-Être"> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'accueil' ]">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'coaching' ]">Coaching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'massage' ]">Massage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'qui-suis-je' ]">Qui suis-je ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'contact' ]">Contact</a>
      </li>
    </ul>
  </div>
</nav>